#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'list-all', defaultSize:'50', , sortSpec:'[]' /}

<div class="container">
	#{include 'Jobs/jobsnav.html'/}

<h3 style="text-transform: uppercase">Jobs Defined</h3>		 
	<div  id="list-all-row">
		<br/>
			#{table-declare tableName:'list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Interval</th>
					<th>Description</th>
					<th>Status</th>
					<th>Manage</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				#{list items:jobDetails, as:'obj'}
				<tr>
					<td>${obj_index}</td>
					<td>   
						<a target=_blank href="config/viewConfigItem/command/${obj.name}" >${obj.name}</a> 
					</td>   
					<td>${obj.interval}</td>
					<td>${obj.description}</td>
					<td>${obj.status}</td>
					<td>
					<a href="/jobs/toggleStatus?dataType=${obj.type}&jobId=${obj.name}&status=${obj.statustoggle}" target="_blank" class="btn btn-primary">${obj.statustoggle}</a>
					<a href="/jobs/deleteJob?dataType=${obj.type}&jobId=${obj.name}" target="_blank" class="btn btn-danger">Delete</a>
					</td>
					<td>
					<a href="/jobs/runJobNow?dataType=${obj.type}&jobId=${obj.name}" target="_blank" class="btn btn-primary">Run</a>
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>

#{include 'tags/refresh.html'/}


</div>
	#{include 'Application/footer.html'/}
</body>
</html>