#{include 'Application/top_head_wizard.html'/}
#{include 'Application/top_nav.html'/}


<div class="container">
	#{include 'Jobs/jobsnav.html'/}


 <div class="span6">
	<button id="open-wizard" class="btn btn-primary">Job Wizard</button>
 </div>
  
	<div class="wizard" id="wizard-jobs">
			<h1>Create REST Job</h1>

			<div class="wizard-card" data-cardname="name">
				<h3>Select Target Nodes</h3>
				<div id="ng_predefined" class="wizard-input-section">
					<p>
						<strong>
						CAUTION: Please VERIFY the target nodes you selected <a target="_blank" href="/nodeGroups">here</a>. 
						</strong>
					</p>

					<select data-placeholder="Target nodes" style="width:350px;" class="chzn-select" id="target_nodes" >
		                <option value=""></option>
		            </select>
				</div>
			</div>

			<div class="wizard-card" data-onload="" data-cardname="dcn_select_requests">
				<h3>Select Command</h3>

				<div class="wizard-input-section">
					<p>
						<strong>
						CAUTION: Please VERIFY the command you selected <a target="_blank" href="/commands">here</a>. 
						</strong>
						<br/>
						Select the REST command on the target nodes.
					</p>

					<select data-placeholder="Commands" style="width:350px;" class="chzn-select" id="commands" >
		                <option value=""></option>

		            </select>

				</div>
			</div>

			<div class="wizard-card" data-onload="" data-cardname="dcn_customize_requests">
				<h3>Customize Command</h3>

				<div class="wizard-input-section">
					<p>
						<strong>
						Now customize the command for variable replacements, execution, polling, and throttling settings 
						</strong>
					</p>
    				<div class="tabbable tabs-left">
    					<ul class="nav nav-tabs">
							<li class="active"><a href="#tab1" data-toggle="tab">Execution</a></li>
							<li><a href="#tab2" data-toggle="tab">Polling</a></li>
							<li><a href="#tab3" data-toggle="tab">Throttling</a></li>
							<li><a href="#tab4" data-toggle="tab">Variable</a></li>
    					</ul>
    					<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<input id="exe_initde" class="input-small" type="text" placeholder="initial delay sec"><br/>
								<input id="exe_to" class="input-small" type="text" placeholder="timeout sec"><br/>
								<input id="exe_retry" class="input-small" type="text" placeholder="max retry"><br/>
								<input id="exe_rede" class="input-small" type="text" placeholder="retry delay sec"><br/>
							</div>
							<div class="tab-pane" id="tab2">
								<input id="mon_int" class="input-small" type="text" placeholder="poll interval sec"><br/>
								<input id="mon_initde" class="input-small" type="text" placeholder="initial delay sec"><br/>
								<input id="mon_to" class="input-small" type="text" placeholder="timeout sec"><br/>
								<input id="mon_retry" class="input-small" type="text" placeholder="max retry"><br/>
								<input id="mon_rede" class="input-small" type="text" placeholder="retry delay sec"><br/>
							</div>
							<div class="tab-pane" id="tab3" style="height:150px;">
								<select data-placeholder="Throttling Strategy" style="width:350px;" class="chzn-select" id="thrStrategy" >
		    					    <option value=""></option>
		    					    <option value="UNLIMITED">UNLIMITED</option>
		    			        	<option value="MAX_CONCURRENT_RATE_SLIDING">MAX_CONCURRENT_RATE_SLIDING</option>
		            			</select>
		            			<br/>
								<input id="thr_rate" class="input-small" type="text" placeholder="max rate">
							</div>
							<div class="tab-pane" id="tab4">
								<p>Variables in command: something</p>
								<textarea class="input-large" id="var_values" placeholder='{"key": "value"}' name="var_values" rows="5"></textarea>
							</div>
    					</div>
    				</div>					
				</div>
			</div>

			<div class="wizard-card" data-onload="" data-cardname="dcn_customize_job">
				<h3>Save as a Job</h3>

				<div class="wizard-input-section">
					<p>
						Select the options to save as job.
					</p>
					
					<input id="job_name" class="input-large" type="text" placeholder="Unique job name" required><br/>
					<input id="job_interval" class="input-large" type="text" placeholder="Recurring interval increment of 5 min"> X 5 MINUTE<br/>
					<label class="checkbox">
						<input id="job_status" type="checkbox" value="enable">
						Enable this job to run at the recurring interval
					</label>
				</div>
			</div>

			<div class="wizard-card" data-cardname="dcn_send_requests">
				<h3>Send Requests</h3>

				<div class="wizard-input-section">
					<p>Now will (1) generate requests, (2) insert data if needed (3) send request to target node group.
					Responses normally take 10 seconds for 1000 nodes, less than 75 seconds for 20,000 nodes. Speed also depends on the timeout setting defined in application.conf. Please wait.  
					</p>
					<p><a href="/logs" target="_blank" >Check response logs</a></p>
				</div>
			</div>

			<div class="wizard-error">
				<div class="alert alert-error">
					<strong>There was a problem</strong> with your submission.
					Please correct the errors and re-submit.
				</div>
			</div>

			<div class="wizard-failure">
				<div class="alert alert-error">
					<strong>There was a problem</strong> submitting the form.
					Please try again in a minute.
				</div>
			</div>

			<div class="wizard-success" data-cardname="dcn_success">
				<div class="alert alert-success">
					<span class="create-server-name"></span>
					Request was sent <strong>successfully.</strong>
					
				</div>
				
				<div class="btn-toolbar" id="response_btngroup">
				</div>

				<br/>

				<div class="btn-toolbar" id="click_btngroup">
				<a class="btn btn-success create-another-server">Make Change</a>
				<a class="btn btn-success im-done">Create Job</a>
				<a class="btn btn-success"href="/logs" target="_blank" >Response logs</a>
				</div>
			</div>

		</div>

</div>



<script type="text/javascript">

$(function() {
	$.fn.wizard.logging = true;

	var wizard = $("#wizard-jobs").wizard();

	$(".chzn-select").chosen();
	// console.log("!!!outside loop: + ${nodeGroupSourceMetadataListJsonArray}"  )
	 
	var nodeGroupSourceMetadataListJsonArrayOld = "${nodeGroupSourceMetadataListJsonArray}";
	var nodeGroupSourceMetadataListJsonArrayNew = nodeGroupSourceMetadataListJsonArrayOld.replace(/&quot;/g, '\"');
	//console.log("!!!outside loop nodeGroupSourceMetadataListJsonArrayNew:" + nodeGroupSourceMetadataListJsonArrayNew  )
	
	var agentCommandMetadataListJsonArrayOld = "${agentCommandMetadataListJsonArray}";
	var agentCommandMetadataListJsonArrayNew = agentCommandMetadataListJsonArrayOld.replace(/&quot;/g, '\"');
	

	 $($.parseJSON(nodeGroupSourceMetadataListJsonArrayNew)).map(function () {
	    console.log("!!!inside loop: " + this.nodeGroupType)
		return $('<option>').val(this.nodeGroupType).text(this.nodeGroupType);
	}).appendTo('#target_nodes');		 

	 $("#target_nodes").trigger("liszt:updated");
	 
	 $($.parseJSON(agentCommandMetadataListJsonArrayNew)).map(function () {
		    console.log("!!!inside loop: " + this.nodeGroupType)
			return $('<option>').val(this.agentCommandType).text(this.agentCommandType);
		}).appendTo('#commands');		 

		 $("#commands").trigger("liszt:updated");
	
	wizard.el.find(".wizard-ns-select").change(function() {
		wizard.el.find(".wizard-ns-detail").show();
	});

	wizard.el.find(".create-server-service-list").change(function() {
		var noOption = $(this).find("option:selected").length == 0;
		wizard.getCard(this).toggleAlert(null, noOption);
	});

	wizard.cards["name"].on("validated", function(card) {
		var hostname = card.el.find("#new-server-fqdn").val();
	});
	
	
	wizard.on("submit", function(wizard) {
		var submitData = {
			"nodeGroup": $("#target_nodes").val(),
			"command": $("#commands").val(),
			"exeOptions": {
				"exe_initde": $("#exe_initde").val(),
				"exe_to": $("#exe_to").val(),
				"exe_retry": $("#exe_retry").val(),
				"exe_rede": $("#exe_rede").val(),
				"mon_int": $("#mon_int").val(),
				"mon_initde": $("#mon_initde").val(),
				"mon_to": $("#mon_to").val(),
				"mon_retry": $("#mon_retry").val(),
				"mon_rede": $("#mon_rede").val(),
				"thrStrategy": $("#thrStrategy").val(),
				"thr_rate": $("#thr_rate").val(),
				"var_values": $("#var_values").val()
			},
			"jobOptions": {
				"job_name": $("#job_name").val(),
				"job_interval": $("#job_interval").val(),
				"job_status": $("#job_status").val()
			}
		};
		
	    $.ajax({
	        url: "/jobs/saveJob",
	        type: "POST",
	        data: submitData,
	        timeout: 1800000,
	        success: function() {
	            wizard.submitSuccess(); // displays the success card
	            wizard.hideButtons(); // hides the next and back buttons
	            wizard.updateProgressBar(0); // sets the progress meter to 0
	        },
	        
	        error: function (xhr, ajaxOptions, thrownError) {
	        	
	        	errorSummary = "HTTP error status: " + xhr.status
	            +" ThrowError: " + thrownError;
	            
	            $(".alert-error")
	            .append("<strong>Error Summary:</strong><br/>")
	            .append(errorSummary)
	            .append("<br/><strong>Detail Error Message:</strong><br/>")
	            .append(xhr.responseText);
	            
	            
	            wizard.submitError(); // display the error card
	            wizard.hideButtons(); // hides the next and back buttons
	        }
	    });		

	});
	

	wizard.on("reset", function(wizard) {
		wizard.setSubtitle("");
		wizard.el.find("#new-server-fqdn").val("");
		wizard.el.find("#new-server-name").val("");
	});

	wizard.el.find(".wizard-success .im-done").click(function() {
		wizard.reset().close();
	});

	wizard.el.find(".wizard-success .create-another-server").click(function() {
		wizard.reset();
	});

	$(".wizard-group-list").click(function() {
		alert("Disabled for demo.");
	});

	$("#open-wizard").click(function() {
		wizard.show();
	});

	wizard.show();
});

</script>


</body>
</html>