<!-- agents top nav -->

<!--<h1><font color="red">Agent tab is under maintenance.</font></h1> -->
<ul class="nav nav-tabs">
<li #{if (page == "showConfigscommand")} class="active" #{/if}><a href="/config"><i class="fa fa-search"></i> Commands</a></li>
<li #{if (page == "showConfigsnodegroup")} class="active" #{/if}><a href="/config/showConfigs/nodegroup"><i class="fa fa-search"></i> NodeGroup</a></li>
</ul>
<div class="row">

</div>	

<script type="text/javascript">

var getAlertAndWrite=function(alert){
	 
	//threshold is generally 80%. 
	var output = null;
	if(alert){
		output ="<div class=\"alert alert-success\">" + alert + "</div>";
	} else {
		output ="";
	}
	  
	 document.write(output);
	         	
	 return;
}

</script>