#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}

#{data-table-init tableName:'list-all', defaultSize:'50', , sortSpec:'[]' /}
<div class="container">
	#{include 'Config/confignav.html'/}
#{include 'tags/refresh.html'/}

<h2>Commands Defined in Config</h2>
	<div  id="list-all-row">
		<br/>
			#{table-declare tableName:'list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Manage</th>
				</tr>
			</thead>
			<tbody>
				#{list items:cfgNames, as:'obj'}
				<tr>
					<td>${obj_index}</td>
					<td>   
						<a target=_blank href="/config/viewConfigItem/${dataType}/${obj}" >${obj}</a> 
					</td>   
					<td>   
						<a target=_blank href="/config/editConfig/${dataType}/${obj}" class="btn btn-primary">Edit</a> 
					</td>   
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>


</div>
	#{include 'Application/footer.html'/}
</body>
</html>