<!-- agents top nav -->

<!--<h1><font color="red">Agent tab is under maintenance.</font></h1> -->
<ul class="nav nav-tabs">
<li #{if (page == "index")} class="active" #{/if}><a href="/logs"><i class="fa fa-search"></i>Command Logs</a></li>

<li #{if (page == "noneStandard")} class="active" #{/if}><a href="/logs/noneStandardLog"><i class="fa fa-search"></i>Cron Logs</a></li>

<li #{if (page == "exploreFiles")} class="active" #{/if}><a href="/logs/exploreFiles"><i class="fa fa-search"></i> Explore Files</a></li>
</ul>
<div class="row">

</div>	