<!-- agents top nav -->

<!--<h1><font color="red">Agent tab is under maintenance.</font></h1> -->
<ul class="nav nav-tabs">
<li #{if (page == "cmdlogs")} class="active" #{/if}><a href="/logs/cmdlogs"><i class="fa fa-search"></i> Command Logs</a></li>

<li #{if (page == "joblogs")} class="active" #{/if}><a href="/logs/joblogs"><i class="fa fa-search"></i> Job Logs</a></li>

<li #{if (page == "exploreFiles")} class="active" #{/if}><a href="/logs/exploreFiles"><i class="fa fa-search"></i> Explore Files</a></li>
</ul>
<div class="row">

</div>	