#{include 'Application/top_head.html'/} 
#{include 'Application/top_nav.html'/}

<div class="jumbotron masthead">
	
	<div class="container">
	
		<h1>Cronus Master</h1> 
	 <p>
	 A PAAS Framework that put developers in the driving seat.		
     <br/>
     Cronus Agent Companion. Manage <strong>10,000 agents</strong> with one master.  
     <br/>   
     Deploy application to <strong>1000</strong> servers in <strong>10</strong> seconds, or <strong>10,000</strong> servers in <strong>50</strong> seconds.

     <br/>
     <br/>

      <abbr title="Able to run on and manage public or private cloud.">Cloud Enabled</abbr>
      &nbsp;&nbsp;
      <abbr title="Fully managed application life cycle, deploy, start, stop, restart, upgrade, decom.">Deploy Any Application</abbr>
      &nbsp;&nbsp;
      <abbr title="Full text search enabled for all responses and raw logs.">Fulltext Search</abbr>
      &nbsp;&nbsp; 
      <abbr title="Hit the ground and running with pre-built supported application stacks and pre-defined command shortcuts.">Zero Setup</abbr>
      &nbsp;&nbsp; 
      <abbr title="Intuitive UI and CLI.">UI & CLI</abbr>
      &nbsp;&nbsp; 
      <abbr title="Scalable multi-step workflows to thousands of HTTP endpoints (Advanced Feature, not available in all versions).">Orchestration</abbr>
      <br/> 
      <abbr title="Unleash raw power in cronus agent at scale for all PAAS workload">Power</abbr>
      &nbsp;&nbsp;    
      <abbr title="Hit and aggregate responses from 10,000+ servers within 1 minute from Commander running on a single server.">Scalability</abbr>
      &nbsp;&nbsp;
      <abbr title="Hit and aggregate responses from 10,000+ servers within 1 minute from Commander running on a single server.">Performance</abbr>
      &nbsp;&nbsp;
      <abbr title="Code under Apache 2.0 License. ">Open Source</abbr>
      &nbsp;&nbsp; 
      <abbr title="Various ways of securing Agent framework.">Security</abbr>
      &nbsp;&nbsp; 
      <abbr title="Zero installation required. Changing command/nodes with breeze. No database setup. Run locally in a single click.">Agility</abbr>
      <br/> 
            
     <br/> 
    </p>	
	  
     <ul class="masthead-links">
     
      <li>
        <a href="/commands/oneclickRun?dataId=deploy_pyserver_local" target="_blank">Deploy a HelloWorld App</a>
      </li>

      <li>
        <a href="http://www.restcommander.com" target="_blank">Getting Started Video</a>
      </li>
      
      <li>
        <a href="http://www.restcommander.com" target="_blank">Online Documentation</a>
      </li>
      
     

      
    </ul>
		
	</div>
</div>

<a href="https://github.com/stackscaling/cronusmaster"  ><img style="position: absolute; top: 0; right: 0; border: 0;  z-index: 1032;" src="/public/images/fork_me_in_git_banner970x210_img.png" alt="Fork me on GitHub"></a>
  <div class="container">
<div class="row">
   
	<div class="span6">
		<div class="feat-a">
			<div class="feat">
				<h1><a href="/config/showConfigs/nodegroup" style="text-decoration: none"> ${metricMap.get("totalNodeCount")}</a></h1>
				<p class="lead">
				<abbr title="Number of servers in predefined node groups">Predefined Nodes</abbr>
				</p>
			</div>
		</div>

		<div class="feat-b">
			<div class="feat">
			<h1><a href="/commands" style="text-decoration: none"> ${metricMap.get("totalCmdCount")}</a></h1>
				<p class="lead">
				<abbr title="Number of Commands">RESTful Commands</abbr>
				</p>
			</div>
		</div>

		<div class="clearfix"></div>
		
	</div>

	<div class="span6">

		<div class="feat-a">
			<div class="feat">
				<h1><a href="/commands/oneclick" style="text-decoration: none"> ${metricMap.get("totalOneclickCount")} </a> </h1>
				<p class="lead">
				<abbr title="Number of One Click Launch">One Click Launch</abbr>
				</p>
				
				
			</div>
		</div>
		<div class="feat-b">
			<div class="feat">
			<h1><a href="/jobs" style="text-decoration: none"> ${metricMap.get("totalJobCount")}</a></h1>
				
				<p class="lead">
				<abbr title="Number of Jobs">Recurring Jobs</abbr>
				</p>
				
			</div>
		</div>
		<div class="clearfix"></div>

	</div>

</div>

<br/>
<br/><br/>
</div>	

<div class="bs-docs-social marketing">
  <div class="container">
   <br/><br/>
     <div class="row-fluid">
      
      <div class="span4">
        <h2><i class="fa fa-flash"></i> Scalable and Fast</h2>
        <p>Utilizes <a href="http://akka.io">AKKA</a> and <a href="https://github.com/AsyncHttpClient/async-http-client">Async HTTP Client</a> to maximize concurrency; Sends and aggregates responses from 10,000+ Servers within 1 minute. </p>
      </div>
    
     <div class="span4">
        <h2><i class="fa fa-magic"></i> Powerful</h2>
        <p>Sends uniform or different requests to same or different servers with near real-time reponse analysis or config pushes. Request level concurrency control.</p>
      </div>
      <div class="span4">
       <h2><i class="fa fa-check"></i> Generic</h2>
        <p>Generic <abbr title="Any HTTP/HTTPS GET/POST/PUT/DELETE request on any port with user-defined headers">HTTP</abbr> request. Generic response aggregation with user-defined regular expression matching. Generic variable replacement in request templates for server specific requests.</p>
      </div>
      
    </div>
    
    <div class="row-fluid">
        <div class="span4">
        <h2><i class="fa fa-folder-open-o"></i> Ready to Use</h2>
        <p>Agility. Zero installation required. Changing requests and target servers with breeze. No database setup. Run locally in a single click.</p>
      </div>
      <div class="span4">
        <h2><i class="fa fa-user"></i> User Friendly</h2>
        <p>Build in Java with <a href="http://www.playframework.com/documentation/1.2.4/home">Play Framework</a>, <a href="http://getbootstrap.com/2.3.2">Bootstrap</a> and its <a href="http://www.panopta.com/2013/02/06/bootstrap-application-wizard/">Application Wizard</a>, Commander enables sending requests in both easy-to-use web UI wizards and powerful <abbr title="Sample Java REST Client to Superma is provided">REST APIs</abbr>.   </p>
      </div>
      
  
 <div class="span4">
            <h2><i class="fa fa-home"></i> About </h2>
 		<p>Cronus is a PAAS framework enable frictionless application life cycle management in cloud, it is designed and built by <a href="http://www.stackscaling.com">Stackscaling</a>, part of the work is based on eBay open source <a href="https://github.com/eBay/restcommander">REST Commander</a> 
 		</p>
      </div>
    </div>
      <br/><br/>
  </div>
</div>


#{include 'Application/footer_index.html'/}



</body>
</html>

