#{include 'Application/top_head.html'/} 
#{include 'Application/top_nav.html'/}

<div class="jumbotron masthead">
	
	<div class="container">
	
		<h1>Cronus Master</h1> 
	 <p>
	 A PAAS Framework that put developers in the driving seat.		
     <br/>
     Cronus Agent Companion. Manage <strong>10,000+ agents</strong> with one master.  
     <br/>   
     Deploy application to <strong>1,000</strong> nodes in <strong>10</strong> seconds, or <strong>10,000</strong> nodes in <strong>60</strong> seconds.

     <ul class="masthead-links">
     
      <li>
        <a href="/commands/oneclickRun?dataId=deploy_pyserver_local" target="_blank">Deploy a HelloWorld App</a>
      </li>

      <li>
        <a href="http://www.restcommander.com" target="_blank">Getting Started Video</a>
      </li>
      
      <li>
        <a href="http://cronusdocs.readthedocs.org" target="_blank">Online Documentation</a>
      </li>
      
     

      
    </ul>
		
	</div>
</div>

<a href="https://github.com/stackscaling/cronusmaster"  ><img style="position: absolute; top: 0; right: 0; border: 0;  z-index: 1032;" src="/public/images/fork_me_in_git_banner970x210_img.png" alt="Fork me on GitHub"></a>
  <div class="container">
<div class="row">
   
	<div class="span6">
		<div class="feat-a">
			<div class="feat">
				<h1><a href="/config/showConfigs/nodegroup" style="text-decoration: none"> ${metricMap.get("totalNodeCount")}</a></h1>
				<p class="lead">
				<abbr title="Number of servers in predefined node groups">Nodes</abbr>
				</p>
			</div>
		</div>

		<div class="feat-b">
			<div class="feat">
			<h1><a href="/commands" style="text-decoration: none"> ${metricMap.get("totalCmdCount")}</a></h1>
				<p class="lead">
				<abbr title="Number of Commands">Commands</abbr>
				</p>
			</div>
		</div>

		<div class="clearfix"></div>
		
	</div>

	<div class="span6">

		<div class="feat-a">
			<div class="feat">
				<h1><a href="/commands/oneclick" style="text-decoration: none"> ${metricMap.get("totalOneclickCount")} </a> </h1>
				<p class="lead">
				<abbr title="Number of One Click Launch">One Click Launch</abbr>
				</p>
				
				
			</div>
		</div>
		<div class="feat-b">
			<div class="feat">
			<h1><a href="/jobs" style="text-decoration: none"> ${metricMap.get("totalJobCount")}</a></h1>
				
				<p class="lead">
				<abbr title="Number of Jobs">Recurring Jobs</abbr>
				</p>
				
			</div>
		</div>
		<div class="clearfix"></div>

	</div>

</div>

<br/>
<br/><br/>
</div>	

<div class="bs-docs-social marketing">
  <div class="container">
   <br/><br/>
     <div class="row-fluid">
      
      <div class="span4">
        <h2><i class="fa fa-check"></i> Open and Cloud Ready</h2>
        <p>Work on all IaaS cloud<br/>Can Deploy <strong>ANY</strong> Application<br/>
        100% Open Source</p>
      </div>

      <div class="span4">
        <h2><i class="fa fa-user"></i> User Friendly</h2>
        <p>Intuitive Management of Resources<br/> 
        Job Launch Wizard<br/> 
        One Click Launch<br/> 
        Logs with FullText Search</p>
      </div>
      
      <div class="span4">
        <h2><i class="fa fa-folder-open-o"></i> Ready to Use</h2>
        <p>Everything to manage your application<br/>
        One click deploy, rollback<br/>
        Build, Management Task, Monitoring</p>
      </div>
      
    </div>
    
    <div class="row-fluid">

      <div class="span4">
        <h2><i class="fa fa-flash"></i> Scalable and Fast</h2>
        <p>Built on <a href="http://akka.io">AKKA</a> and <a href="https://github.com/AsyncHttpClient/async-http-client">Async HTTP Client</a><br/>
        Maximum concurrency<br/> 
        Scale simply and predictably</p>
      </div>
    
     <div class="span4">
        <h2><i class="fa fa-magic"></i> Simple but Powerful</h2>
        <p>Setup in 2 minutes, <strong>ZERO</strong> dependency<br/>
        Simple Command, NodeGroup, and Job<br/> 
        Run generic request on any HTTP based service</p>
      </div>
  
	  <div class="span4">
        <h2><i class="fa fa-home"></i> About Us</h2>
 		<p>Cronus is a PAAS framework for frictionless application life cycle management in cloud, it is designed and built by <a href="http://www.stackscaling.com">Stackscaling</a>, part of the work is based on eBay open source Agent and <a href="https://github.com/eBay/restcommander">REST Commander</a> 
 		</p>
      </div>
    </div>
      <br/><br/>
  </div>
</div>


#{include 'Application/footer_index.html'/}



</body>
</html>

