<script type="text/javascript">

var getAlertAndWrite=function(alert){
	 
	//threshold is generally 80%. 
	var output = null;
	if(alert){
		output ="<div class=\"alert alert-success\">" + alert + "</div>";
	} else {
		output ="";
	}
	  
	 document.write(output);
	         	
	 return;
}

var getLabel=function(label, schemeArray){

	var output = null;
	if(label=== schemeArray[0]){
		output ="<span class=\"label label-success\">" + label + "</span> ";
	} else if(label=== schemeArray[1]){
		output ="<span class=\"label label-important\">" + label + "</span> ";
	} else {
		output ="<span class=\"label label-warning\">" + label + "</span> ";
	}

	document.write(output);
	return;
}

var getStatusDetail=function(statusDetailStr){

	var output = null;
	var tokens = statusDetailStr.split(":");
	if (tokens.length==3) {
		output ="<span class=\"label label-success\">" + tokens[0] + "</span><span class=\"label label-important\">" + tokens[1] + "</span><span class=\"label label-warning\">" + tokens[2] + "</span> ";
		document.write(output);
	}
	return;
}

</script>	

<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
			<a class="brand" href="/">CronusMaster</a>
		<div class="container">
		
			<div class="nav-collapse">
				<ul class="nav">
					<li #{if (topnav == null || topnav == "home")} class="active" #{/if} ><a href="/">Home</a></li>
					
					<li #{if (topnav == "commands")} class="active" #{/if}><a href="/commands">Commands</a></li>	
					
					<!--<li #{if (topnav == "workflows")} class="active" #{/if}><a href="/workflows">Workflows</a></li>-->	

					<li #{if (topnav == "jobs")} class="active" #{/if}><a href="/jobs">Jobs</a></li>	
								
					<li #{if (topnav == "nodeGroups")} class="active" #{/if}><a href="/config">Configs</a></li>	
					
					<li #{if (topnav == "new")} class="active" #{/if}><a href="/whatsnew"  title="Release Notes -- What's New? " ><i class="fa fa-leaf"></i></a></li>
					
					
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	#{if (topnav == "commands")} #{include 'Commands/commandsnav.html'/} #{/if}	
	#{if (topnav == "workflows")} #{include 'Workflows/workflowsnav.html'/} #{/if}	
	#{if (topnav == "jobs")} #{include 'Jobs/jobsnav.html'/} #{/if}	
	#{if (topnav == "nodeGroups")} #{include 'Config/confignav.html'/} #{/if}	
	#{if (topnav == "logs")} #{include 'Logs/lognav.html'/} #{/if}	
	#{if (topnav == "config")} #{include 'Config/confignav.html'/} #{/if}	

	
	<script type="text/javascript">	
		getAlertAndWrite("${alert}");
	</script>

	
	