#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'list-all', defaultSize:'50', , sortSpec:'[]' /}

<div class="container">
	#{include 'Commands/commandsnav.html'/}

<h3 style="text-transform: uppercase">Commands Defined</h3>		 
	<div  id="list-all-row">
		<br/>
			#{table-declare tableName:'list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>URL</th>
					<th>httpMethod</th>
					<th>Headers</th>
					<th>Parameters</th>
					<th>Body</th>
					<th>Variables</th>
				</tr>
			</thead>
			<tbody>
				#{list items:commands, as:'obj'}
				<tr>
					<td>${obj_index}</td>
					<td>   
						<a target=_blank href="config/viewConfigItem/command/${obj.name}" >${obj.name}</a> 
					</td>   
					<td>${obj.url}</td>
					<td>
					<script type="text/javascript">	
					getHttpMethodLabel("${obj.httpMethod}");
					</script>
					</td>
					<td><script type="text/javascript">displayList("${obj.headers}");</script></td>
					<td><script type="text/javascript">displayList("${obj.parameters}");</script></td>
					<td>${obj.body}</td>
					<td><script type="text/javascript">displayList("${obj.variables}");</script></td>
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>

#{include 'tags/refresh.html'/}

</div>
	#{include 'Application/footer.html'/}
</body>
</html>