#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'list-all', defaultSize:'50', , sortSpec:'[]' /}

<h3 style="text-transform: uppercase">Commands Defined</h3>		 

<a target=_self href="/config/editConfig/command/create/new?nav=${topnav}" class="btn btn-small btn-primary">Create New</a> 
<a target=_self href="/config/reloadConfig/command?nav=${topnav}" class="btn btn-small btn-primary">Reload</a>

	<div  id="list-all-row">
		<br/>
			#{table-declare tableName:'list-all' /}
			<thead>
				<tr>
					<th>Name</th>
					<th>URL</th>
					<th>Method</th>
					<th class=span4>User Data</th>
					<th>Run</th>
					<th>Edit</th>
					<th>Copy</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				#{list items:commands, as:'obj'}
				<tr>
					<td>   
						<a target=_blank href="config/viewConfigItem/command/${obj.name}" >${obj.name}</a> 
					</td>   
					<td>${obj.url}</td>
					<td>
					<script type="text/javascript">	
					getHttpMethodLabel("${obj.httpMethod}");
					</script>
					</td>
					<td>${obj.userData}</td>
					<td>
					<a href="/commands/wizard?dataId=${obj.name}&dataType=command" target=_self>
					<i class="fa fa-magic fa-lg"></i></a>
					</td>
					<td>   
						<a target=_self href="/config/editConfig/command/update/${obj.name}?nav=${topnav}">
						<i class="fa fa-wrench fa-lg"></i></a>	
						</a>
					</td>
					<td>   
						<a target=_self href="/config/editConfig/command/create/${obj.name}?nav=${topnav}">
						<i class="fa fa-copy fa-lg"></i></a>	
						</a>
					</td>
					<td>
						<a target=_self href="/config/deleteConfig/command/${obj.name}?nav=${topnav}">
						<i class="fa fa-trash-o fa-lg"></i></a>
						</a> 
					</td>   
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>

#{include 'tags/refresh.html'/}

</div>
	#{include 'Application/footer.html'/}
</body>
</html>