#{include 'Application/top_head.html'/}
#{include 'Application/top_nav.html'/}


#{data-table-init tableName:'list-all', defaultSize:'50', , sortSpec:'[]' /}

<h3 style="text-transform: uppercase">One Click Command</h3>		 

	<div  id="list-all-row">
		<br/>
			#{table-declare tableName:'list-all' /}
			<thead>
				<tr>
					<th>No.</th>
					<th>Display Name</th>
					<th>Command</th>
					<th>NodeGroup</th>
					<th class=span4>User Data</th>
					<th>Run</th>
					<th>Edit</th>
					<th>Copy</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				#{list items:commands, as:'obj'}
				<tr>
					<td>${obj_index}</td>
					<td>   
						<a target=_blank href="/config/viewConfigItem/cmd_oneclick/${obj.name}" >${obj.displayName}</a> 
					</td>   
					<td>
						<a target=_blank href="/config/viewConfigItem/command/${obj.command}" >${obj.command}
					</td>
					<td>
						<a target=_blank href="/config/viewConfigItem/nodegroup/${obj.nodeGroup}" >${obj.nodeGroup}
					</td>
					<td>${obj.userData}</td>
					<td>
					<a href="/commands/oneclickRun?dataId=${obj.name}" target=_self>
					<i class="fa fa-magic fa-lg"></i></a>
					</td>
					<td>   
						<a target=_self href="/config/editConfig/cmd_oneclick/update/${obj.name}?nav=${topnav}">
						<i class="fa fa-wrench fa-lg"></i></a>	
						</a>
					</td>
					<td>   
						<a target=_self href="/config/editConfig/cmd_oneclick/create/${obj.name}?nav=${topnav}">
						<i class="fa fa-copy fa-lg"></i></a>	
						</a>
					</td>
					<td>
						<a target=_self href="/config/deleteConfig/cmd_oneclick/${obj.name}?nav=${topnav}">
						<i class="fa fa-trash-o fa-lg"></i></a>
						</a> 
					</td>   
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>

#{include 'tags/refresh.html'/}

</div>
	#{include 'Application/footer.html'/}
</body>
</html>