#{include 'Application/top_head_wizard.html'/}
#{include 'Application/top_nav.html'/}

    <style>
      .wrapper {
        width: 90%;
        height: 90%;
        margin-top: 10px;
      }
    </style>

    <script>
      $(document).ready(function(){
        JSONEditor.prototype.ADD_IMG = '/public/images/add.png';
        JSONEditor.prototype.DELETE_IMG = '/public/images/delete.png';

        var example2 = new JSONEditor($("#var_values"), 200, 200);
        example2.doTruncation(true);
        example2.showFunctionButtons(false);
      });
    </script>

<div class="span8">
	<button id="open-wizard" class="btn btn-primary">Command Wizard</button>
 </div>
  
	<div class="wizard" id="wizard-commands">
			<h1>Send REST Requests</h1>

			<div class="wizard-card" data-onload="" data-cardname="dcn_customize_requests">
				<h3>Customize Command</h3>

				<div class="wizard-input-section">
    				<div class="tabbable tabs-top">
    					<ul class="nav nav-tabs">
							<li class="active" value="tab4"><a href="#tab4" data-toggle="tab">User Inputs</a></li>
							<li value="tab1"><a href="#tab1" data-toggle="tab">Execution</a></li>
							<li id="montab" value="tab2"><a href="#tab2" data-toggle="tab">Polling</a></li>
							<li value="tab3"><a href="#tab3" data-toggle="tab">Throttling</a></li>
    					</ul>
    					<div class="tab-content">
							<div class="tab-pane active" id="tab4">
								<div class="wrapper">
									<textarea class="input-large" id="var_values" placeholder='{"key": "value"}' name="var_values" rows="5"></textarea>
      								<!--<textarea id="example2" rows="10"></textarea>-->
    							</div>
							</div>
							<div class="tab-pane" id="tab1">
							    <div class="row">
								<label class="span2" for="exe_initde">Initial Delay Second</label><input id="exe_initde" class="span1" type="text" placeholder="initial delay sec">
							    </div>
							    <div class="row">
								<label class="span2" for="exe_to">Timeout Second</label><input id="exe_to" class="span1" type="text" placeholder="timeout sec">
							    </div>
							    <div class="row">
								<label class="span2" for="exe_retry">Max Retry</label><input id="exe_retry" class="span1" type="text" placeholder="max retry">
							    </div>
							    <div class="row">
								<label class="span2" for="exe_rede">Retry Delay Second</label><input id="exe_rede" class="span1" type="text" placeholder="retry delay sec">
							    </div>						
							</div>
							<div class="tab-pane" id="tab2">
							    <div class="row">
								<label class="span2" for="mon_int">Poll Interval Second</label><input id="mon_int" class="span1" type="text" placeholder="poll interval sec">
							    </div>						
							    <div class="row">
								<label class="span2" for="mon_initde">Initial Delay Second</label><input id="mon_initde" class="span1" type="text" placeholder="initial delay sec">
							    </div>						
							    <div class="row">
								<label class="span2" for="mon_retry">Max Retry</label><input id="mon_retry" class="span1" type="text" placeholder="max retry">
							    </div>						
							    <div class="row">
								<label class="span2" for="mon_rede">Retry Delay Second</label><input id="mon_rede" class="span1" type="text" placeholder="retry delay sec">
							    </div>						
							    <div class="row">
								<label class="span2" for="mon_to">Timeout Second</label><input id="mon_to" class="span1 type="text" placeholder="timeout sec">
							    </div>						
							</div>
							<div class="tab-pane" id="tab3" style="height:150px;">
							    <div class="row">
								<label class="span2" for="thrStrategy">Throttle Strategy</label>
								<select data-placeholder="Throttling Strategy" style="width:350px;" class="chzn-select" id="thrStrategy" >
		    					    <option value="UNLIMITED">UNLIMITED</option>
		    			        	<option value="MAX_CONCURRENT_RATE_SLIDING">MAX_CONCURRENT_RATE_SLIDING</option>
		            			</select>
							    </div>						
							    <div class="row">
								<label class="span2" for="thr_rate">Throttle Rate</label>
								<input id="thr_rate" class="input-small" type="text" placeholder="0">
							    </div>						
		            			<br/>
								
							</div>
    					</div>
    				</div>					
				</div>
			</div>

			<div class="wizard-card" data-cardname="name">
				<h3>Select Target Nodes</h3>
					<div id="ng_class" class="btn-group" data-toggle="buttons-radio">
    					<button id="ngp_button" type="button" class="btn btn-primary">Predefined</button>
					    <button id="nga_button" type="button" class="btn btn-primary">Adhoc</button>
					    <button id="nge_button" type="button" class="btn btn-primary">Embedded in Cmd</button>
					</div>
				
				<div id="ng_predefined" class="wizard-input-section" style="display: none;">
					<p>
						<strong>
						CAUTION: Please VERIFY the target nodes you selected <a target="_blank" href="/config/showConfigs/nodegroup">here</a>. 
						</strong>
					</p>

					<select data-placeholder="Target nodes" style="width:350px;" class="chzn-select" id="target_nodes" >
		                <option value=""></option>
		            </select>
				</div>
				
				<div id="ng_adhoc" class="wizard-input-section" style="display: none;">
					<p>
						<strong>
						Please enter target nodes by fqdn line by line (no additional symbols).
						</strong>
					</p>

					<textarea class="input-xlarge" id="nodeListFromText" placeholder="host" name="nodeListFromText" rows="5"></textarea>  
				</div>
				
				<div id="ng_embed" class="wizard-input-section" style="display: none;">
					<p>
						<strong>
						Target nodes are defined in command itself. Please VERIFY the target nodes in command <a target="_blank" href="/config/showConfigs/command">here</a>.
						</strong>
					</p>

				</div>

			</div>

			<div class="wizard-card" data-cardname="dcn_send_requests">
				<h3>Send Requests</h3>

				<div class="wizard-input-section">
					<p>Now will (1) generate requests, (2) insert data if needed (3) send request to target node group.
					Responses normally take 10 seconds for 1000 nodes, less than 75 seconds for 20,000 nodes. Speed also depends on the timeout setting defined in application.conf. Please wait.  
					</p>
					<p><a href="/logs/cmdLogs" target="_blank" >Check response logs</a></p>
				</div>
			</div>

			<div class="wizard-error">
				<div class="alert alert-error">
					<strong>There was a problem</strong> with your submission.
					Please correct the errors and re-submit.
				</div>
			</div>

			<div class="wizard-failure">
				<div class="alert alert-error">
					<strong>There was a problem</strong> submitting the form.
					Please try again in a minute.
				</div>
			</div>

			<div class="wizard-success" data-cardname="dcn_success">
				<div class="alert alert-success">
					<span class="create-server-name"></span>
					Request was sent <strong>successfully.</strong>
					
				</div>
				
				<div class="btn-toolbar" id="response_btngroup">
				</div>

				<br/>

				<div class="btn-toolbar" id="click_btngroup">
				<a class="btn btn-success create-another-server">Send another request</a>
				<a class="btn btn-success im-done" href="/commands" target="_self">Done</a>
				<a class="btn btn-success" href="/logs/cmdLogs" target="_blank" >Response logs</a>
				</div>
			</div>

		</div>

</div>



<script type="text/javascript">

function setServerName(card) {
	var host = $("#new-server-fqdn").val();
	var name = $("#new-server-name").val();
	var displayName = host;

	if (name) {
		displayName = name + " ("+host+")";
	};

	card.wizard.setSubtitle(displayName);
	card.wizard.el.find(".create-server-name").text(displayName);
}

function validateIP(ipaddr) {
    //Remember, this function will validate only Class C IP.
    //change to other IP Classes as you need
    ipaddr = ipaddr.replace(/\s/g, "") //remove spaces for checking
    var re = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/; //regex. check for digits and in
                                          //all 4 quadrants of the IP
    if (re.test(ipaddr)) {
        //split into units with dots "."
        var parts = ipaddr.split(".");
        //if the first unit/quadrant of the IP is zero
        if (parseInt(parseFloat(parts[0])) == 0) {
            return false;
        }
        //if the fourth unit/quadrant of the IP is zero
        if (parseInt(parseFloat(parts[3])) == 0) {
            return false;
        }
        //if any part is greater than 255
        for (var i=0; i<parts.length; i++) {
            if (parseInt(parseFloat(parts[i])) > 255){
                return false;
            }
        }
        return true;
    }
    else {
        return false;
    }
}

function validateFQDN(val) {
	return /^[a-z0-9-_]+(\.[a-z0-9-_]+)*\.([a-z]{2,4})$/.test(val);
}

function fqdn_or_ip(el) {
	var val = el.val();
	ret = {
		status: true
	};
	if (!validateFQDN(val)) {
		if (!validateIP(val)) {
			ret.status = false;
			ret.msg = "Invalid IP address or FQDN";
		}
	}
	return ret;
}

$(function() {
	// load command meta
	var url = "/commands/getOptions?dataId=${dataId}&dataType=${dataType}";
	$.ajax({
		dataType: "json",
		url: url,
	    success: function(json) {
	    	$.each(json, function(idx, obj) {
	    		if (obj.id=='mon_disabled' && obj.value=='true') {
	    			$('#montab').hide();	    			
	    		} 
	    		else if (obj.id=='thrStrategy') {
	    			$('#thrStrategy option[value="' + obj.value + '"]').prop('selected', true);
	    		}
	    		else {
	    			$('#'+obj.id).val(obj.value);
	    		}	    		
			});	    	
		}
	});

	$.fn.wizard.logging = true;

	var wizard = $("#wizard-commands").wizard();

	$(".chzn-select").chosen();
	console.log("!!!outside loop: + ${nodeGroupSourceMetadataListJsonArray}"  )
	
	// populate nodegroup options 
	var nodeGroupSourceMetadataListJsonArrayOld = "${nodeGroupSourceMetadataListJsonArray}";
	var nodeGroupSourceMetadataListJsonArrayNew = nodeGroupSourceMetadataListJsonArrayOld.replace(/&quot;/g, '\"');
	//console.log("!!!outside loop nodeGroupSourceMetadataListJsonArrayNew:" + nodeGroupSourceMetadataListJsonArrayNew  )
	
	$($.parseJSON(nodeGroupSourceMetadataListJsonArrayNew)).map(function () {
	    console.log("!!!inside loop: " + this.nodeGroupType)
		return $('<option>').val(this.nodeGroupType).text(this.nodeGroupType);
	}).appendTo('#target_nodes');		 

	$("#target_nodes").trigger("liszt:updated");
	 
	wizard.el.find(".wizard-ns-select").change(function() {
		wizard.el.find(".wizard-ns-detail").show();
	});

	wizard.el.find(".create-server-service-list").change(function() {
		var noOption = $(this).find("option:selected").length == 0;
		wizard.getCard(this).toggleAlert(null, noOption);
	});

	wizard.cards["name"].on("validated", function(card) {
		var hostname = card.el.find("#new-server-fqdn").val();
	});
	
	
	wizard.cards["dcn_send_requests"].on("validated", function(card) {
		
		var nodeGroupType = $("#target_nodes").val()
		
	});

	wizard.on("submit", function(wizard) {
		var dataType = $("#ngp_button").hasClass('active') ? "NODEGROUP" : "ADHOCNODEGROUP";
		var nodeGroupType = $("#ngp_button").hasClass('active') ? $("#target_nodes").val() : $("#nodeListFromText").val();
		var exeOptions = $("#exe_initde").val() + " ," + $("#exe_to").val() + " ," + $("#exe_retry").val() + " ," + $("#exe_rede").val() + " ";
		var monOptions = $("#mon_int").val() + "," + $("#mon_initde").val() + "," + $("#mon_to").val() + "," + $("#mon_retry").val() + "," + $("#mon_rede").val();
		var thrOptions = $("#thrStrategy").val() + "," + $("#thr_rate").val();
		var varValues = $("#var_values").val();
		var submitData = {
			"dataType": dataType,
			"nodeGroupType": nodeGroupType,
			"agentCommandType": "${cmdName}",
			"options": {
				"exe_initde": $("#exe_initde").val(),
				"exe_to": $("#exe_to").val(),
				"exe_retry": $("#exe_retry").val(),
				"exe_rede": $("#exe_rede").val(),
				"mon_int": $("#mon_int").val(),
				"mon_initde": $("#mon_initde").val(),
				"mon_to": $("#mon_to").val(),
				"mon_retry": $("#mon_retry").val(),
				"mon_rede": $("#mon_rede").val(),
				"thrStrategy": $("#thrStrategy").val(),
				"thr_rate": $("#thr_rate").val(),
				"var_values": $("#var_values").val()
			}
		};
		
	    $.ajax({
	        url: "/commands/runCmdOnNodeGroup",
	        type: "POST",
	        data: submitData,
	        timeout: 1800000,
	        success: function() {
	            wizard.submitSuccess(); // displays the success card
	            wizard.hideButtons(); // hides the next and back buttons
	            wizard.updateProgressBar(0); // sets the progress meter to 0
	        },
	        
	        error: function (xhr, ajaxOptions, thrownError) {
	        	
	        	errorSummary = "HTTP error status: " + xhr.status
	            +" ThrowError: " + thrownError;
	            
	            $(".alert-error")
	            .append("<strong>Error Summary:</strong><br/>")
	            .append(errorSummary)
	            .append("<br/><strong>Detail Error Message:</strong><br/>")
	            .append(xhr.responseText);
	            
	            
	            wizard.submitError(); // display the error card
	            wizard.hideButtons(); // hides the next and back buttons
	        }
	    });		
	    
/* 		setTimeout(function() {
			wizard.trigger("success");
			wizard.hideButtons();
			wizard._submitting = false;
			wizard.showSubmitCard("success");
			wizard._updateProgressBar(0);
		}, 2000); */
	});
	

	wizard.on("reset", function(wizard) {
		wizard.setSubtitle("");
		wizard.el.find("#new-server-fqdn").val("");
		wizard.el.find("#new-server-name").val("");
	});

	wizard.el.find(".wizard-success .im-done").click(function() {
		wizard.reset().close();
	});

	wizard.el.find(".wizard-success .create-another-server").click(function() {
		wizard.reset();
	});

	$(".wizard-group-list").click(function() {
		alert("Disabled for demo.");
	});

	$("#open-wizard").click(function() {
		wizard.show();
	});

	wizard.show();
});

$("#ngp_button").on('click',function(){

  $('#ng_adhoc').hide();
  $('#ng_embed').hide();
  $('#ng_predefined').show();

});


$("#nga_button").on('click',function(){

  $('#ng_predefined').hide();
  $('#ng_embed').hide();
  $('#ng_adhoc').show();

});

$("#nge_button").on('click',function(){

  $('#ng_predefined').hide();
  $('#ng_adhoc').hide();
  $('#ng_embed').show();

});

</script>


</body>
</html>